div.quantity_widget {
    padding: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    font-size: 12px;
}

div.quantity_widget > span {
    width: 16px;
    text-align: left;
}

div.quantity_widget > div {
    display: flex;
    flex-direction: column;
    gap: 1px;
    opacity: 0;
}

div.quantity_widget > div:hover {
    opacity: 1;
}

div.quantity_widget > div > button {
    border-width: 0px;
    border-radius: 0px;
    font-size: 4px;
    width: 30px;
}




